html,
body,
#app {
	height: 100%;
}

#app {
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	flex-direction: column;
}

main {
	z-index: 0;
}
.el-menu {
	z-index: 1;
}
.el-loading-mask .el-loading-spinner {
	margin-top: -15px;
	text-align: left;
	.circular {
		height: 21px;
		width: 21px;
		vertical-align: middle;
	}
	p {
		margin: 0;
		padding-left: 5px;
		display: inline-block;
	}
}
